In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
import geopandas as gpd
from shapely.geometry import Point, Polygon, MultiPolygon
from geoalchemy2 import Geometry, WKTElement
plt.style.use('ggplot')
# pd.set_option('max_columns', 200)

In [2]:
df = gpd.read_file("SA2_2021_AUST_SHP_GDA2020/SA2_2021_AUST_GDA2020.shp")
df

,SA2_CODE21,SA2_NAME21,CHG_FLAG21,CHG_LBL21,SA3_CODE21,SA3_NAME21,SA4_CODE21,SA4_NAME21,GCC_CODE21,GCC_NAME21,STE_CODE21,STE_NAME21,AUS_CODE21,AUS_NAME21,AREASQKM21,LOCI_URI21,geometry
0,101021007,Braidwood,0,No change,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,3418.3525,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.58424 -35.44426, 149.58444 -35.4..."
1,101021008,Karabar,0,No change,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,6.9825,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.21899 -35.36738, 149.21800 -35.3..."
2,101021009,Queanbeyan,0,No change,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,4.7620,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.21326 -35.34325, 149.21619 -35.3..."
3,101021010,Queanbeyan - East,0,No change,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,13.0032,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.24034 -35.34781, 149.24024 -35.3..."
4,101021012,Queanbeyan West - Jerrabomberra,0,No change,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,13.6748,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.19572 -35.36126, 149.19970 -35.3..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2468,901031003,Jervis Bay,0,No change,90103,Jervis Bay,901,Other Territories,9OTER,Other Territories,9,Other Territories,AUS,Australia,67.2296,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"MULTIPOLYGON (((150.69567 -35.18295, 150.69556..."
2469,901041004,Norfolk Island,0,No change,90104,Norfolk Island,901,Other Territories,9OTER,Other Territories,9,Other Territories,AUS,Australia,38.6510,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"MULTIPOLYGON (((167.96325 -29.07212, 167.96326..."
2470,997979799,Migratory - Offshore - Shipping (OT),0,No change,99797,Migratory - Offshore - Shipping (OT),997,Migratory - Offshore - Shipping (OT),99799,Migratory - Offshore - Shipping (OT),9,Other Territories,AUS,Australia,NaN,http://linked.data.gov.au/dataset/asgsed3/SA2/...,None
2471,999999499,No usual address (OT),0,No change,99999,No usual address (OT),999,No usual address (OT),99499,No usual address (OT),9,Other Territories,AUS,Australia,NaN,http://linked.data.gov.au/dataset/asgsed3/SA2/...,None
2472,ZZZZZZZZZ,Outside Australia,1,New,ZZZZZ,Outside Australia,ZZZ,Outside Australia,ZZZZZ,Outside Australia,Z,Outside Australia,ZZZ,Outside Australia,NaN,http://linked.data.gov.au/dataset/asgsed3/SA2/...,None

In [3]:
# Creating a copy of the data from df dataset 
wrkDf = df.copy()

# Deleting unused columns
wrkDf = wrkDf.drop(['SA3_CODE21', 'SA3_NAME21', 'SA4_CODE21', 'SA4_NAME21'], axis = 1)
wrkDf

,SA2_CODE21,SA2_NAME21,CHG_FLAG21,CHG_LBL21,GCC_CODE21,GCC_NAME21,STE_CODE21,STE_NAME21,AUS_CODE21,AUS_NAME21,AREASQKM21,LOCI_URI21,geometry
0,101021007,Braidwood,0,No change,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,3418.3525,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.58424 -35.44426, 149.58444 -35.4..."
1,101021008,Karabar,0,No change,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,6.9825,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.21899 -35.36738, 149.21800 -35.3..."
2,101021009,Queanbeyan,0,No change,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,4.7620,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.21326 -35.34325, 149.21619 -35.3..."
3,101021010,Queanbeyan - East,0,No change,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,13.0032,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.24034 -35.34781, 149.24024 -35.3..."
4,101021012,Queanbeyan West - Jerrabomberra,0,No change,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,13.6748,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.19572 -35.36126, 149.19970 -35.3..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2468,901031003,Jervis Bay,0,No change,9OTER,Other Territories,9,Other Territories,AUS,Australia,67.2296,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"MULTIPOLYGON (((150.69567 -35.18295, 150.69556..."
2469,901041004,Norfolk Island,0,No change,9OTER,Other Territories,9,Other Territories,AUS,Australia,38.6510,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"MULTIPOLYGON (((167.96325 -29.07212, 167.96326..."
2470,997979799,Migratory - Offshore - Shipping (OT),0,No change,99799,Migratory - Offshore - Shipping (OT),9,Other Territories,AUS,Australia,NaN,http://linked.data.gov.au/dataset/asgsed3/SA2/...,None
2471,999999499,No usual address (OT),0,No change,99499,No usual address (OT),9,Other Territories,AUS,Australia,NaN,http://linked.data.gov.au/dataset/asgsed3/SA2/...,None
2472,ZZZZZZZZZ,Outside Australia,1,New,ZZZZZ,Outside Australia,Z,Outside Australia,ZZZ,Outside Australia,NaN,http://linked.data.gov.au/dataset/asgsed3/SA2/...,None

In [4]:
# Checking missing values
print('Missing values distribution: ')
print(wrkDf.isnull().mean())
print("")
# Two columns have missing values. They are AREASQKM21 and geometry.

Missing values distribution:
SA2_CODE21    0.000000
SA2_NAME21    0.000000
CHG_FLAG21    0.000000
CHG_LBL21     0.000000
GCC_CODE21    0.000000
GCC_NAME21    0.000000
STE_CODE21    0.000000
STE_NAME21    0.000000
AUS_CODE21    0.000000
AUS_NAME21    0.000000
AREASQKM21    0.007683
LOCI_URI21    0.000000
geometry      0.007683
dtype: float64

In [5]:
# Droping all missing values for AREASQKM21 and geometry. 
wrkDf.dropna(subset=['AREASQKM21', 'geometry'], inplace=True)
wrkDf

,SA2_CODE21,SA2_NAME21,CHG_FLAG21,CHG_LBL21,GCC_CODE21,GCC_NAME21,STE_CODE21,STE_NAME21,AUS_CODE21,AUS_NAME21,AREASQKM21,LOCI_URI21,geometry
0,101021007,Braidwood,0,No change,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,3418.3525,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.58424 -35.44426, 149.58444 -35.4..."
1,101021008,Karabar,0,No change,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,6.9825,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.21899 -35.36738, 149.21800 -35.3..."
2,101021009,Queanbeyan,0,No change,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,4.7620,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.21326 -35.34325, 149.21619 -35.3..."
3,101021010,Queanbeyan - East,0,No change,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,13.0032,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.24034 -35.34781, 149.24024 -35.3..."
4,101021012,Queanbeyan West - Jerrabomberra,0,No change,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,13.6748,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.19572 -35.36126, 149.19970 -35.3..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2463,801111141,Namadgi,0,No change,8ACTE,Australian Capital Territory,8,Australian Capital Territory,AUS,Australia,1202.7527,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((148.80407 -35.37619, 148.80417 -35.3..."
2466,901011001,Christmas Island,0,No change,9OTER,Other Territories,9,Other Territories,AUS,Australia,136.1356,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((105.67393 -10.41566, 105.67399 -10.4..."
2467,901021002,Cocos (Keeling) Islands,0,No change,9OTER,Other Territories,9,Other Territories,AUS,Australia,13.7258,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"MULTIPOLYGON (((96.91512 -12.14044, 96.91513 -..."
2468,901031003,Jervis Bay,0,No change,9OTER,Other Territories,9,Other Territories,AUS,Australia,67.2296,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"MULTIPOLYGON (((150.69567 -35.18295, 150.69556..."
2469,901041004,Norfolk Island,0,No change,9OTER,Other Territories,9,Other Territories,AUS,Australia,38.6510,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"MULTIPOLYGON (((167.96325 -29.07212, 167.96326..."

In [6]:
# Checking datatype in each column
print('Column datatypes: ')
wrkDf.dtypes

Column datatypes:

SA2_CODE21      object
SA2_NAME21      object
CHG_FLAG21      object
CHG_LBL21       object
GCC_CODE21      object
GCC_NAME21      object
STE_CODE21      object
STE_NAME21      object
AUS_CODE21      object
AUS_NAME21      object
AREASQKM21     float64
LOCI_URI21      object
geometry      geometry
dtype: object

In [7]:
'''
# getting all the columns with string/mixed type values
str_cols = list(wrkDf.columns)
str_cols.remove('AREASQKM21')
str_cols.remove('geometry')

# removing leading adn trailing characters from columns with str type
for i in str_cols:
    wrkDf[i] = wrkDf[i].str.strip()
'''

"\n# getting all the columns with string/mixed type values\nstr_cols = list(wrkDf.columns)\nstr_cols.remove('AREASQKM21')\nstr_cols.remove('geometry')\n\n# removing leading adn trailing characters from columns with str type\nfor i in str_cols:\n    wrkDf[i] = wrkDf[i].str.strip()\n"

In [8]:
'''
# Finding all unique values in SA2_NAME21 column

unique_values = wrkDf['SA2_NAME21'].unique()
unique_values = list(set(unique_values))
unique_values 
'''

"\n# Finding all unique values in SA2_NAME21 column\n\nunique_values = wrkDf['SA2_NAME21'].unique()\nunique_values = list(set(unique_values))\nunique_values \n"

In [9]:
'''
# Converting AREASQKM21 to nearest floats with two decimal places.
wrkDf['AREASQKM21'] = round(wrkDf['AREASQKM21'], 2)
wrkDf.head(2468)
'''

"\n# Converting AREASQKM21 to nearest floats with two decimal places.\nwrkDf['AREASQKM21'] = round(wrkDf['AREASQKM21'], 2)\nwrkDf.head(2468)\n"

Looking at the dataset:

There is one column with missing values. (This have solved by dropping the missing values.)
The column, SA4_NAME21, contains multiple distinct words joined together by "-".

In [10]:
businesses = pd.read_csv('Businesses.csv')
businesses

,industry_code,industry_name,sa2_code,sa2_name,0_to_50k_businesses,50k_to_200k_businesses,200k_to_2m_businesses,2m_to_5m_businesses,5m_to_10m_businesses,10m_or_more_businesses,total_businesses
0,A,"Agriculture, Forestry and Fishing",101021007,Braidwood,136,92,63,4,0,0,296
1,A,"Agriculture, Forestry and Fishing",101021008,Karabar,6,3,0,0,0,0,9
2,A,"Agriculture, Forestry and Fishing",101021009,Queanbeyan,6,4,3,0,0,3,15
3,A,"Agriculture, Forestry and Fishing",101021010,Queanbeyan - East,0,3,0,0,0,0,3
4,A,"Agriculture, Forestry and Fishing",101021012,Queanbeyan West - Jerrabomberra,7,4,5,0,0,0,16
...,...,...,...,...,...,...,...,...,...,...,...
12212,S,Other Services,128021538,Sutherland - Kirrawee,21,66,58,3,3,0,152
12213,S,Other Services,128021607,Engadine,13,41,31,3,0,0,87
12214,S,Other Services,128021608,Loftus - Yarrawarrah,0,10,10,0,0,0,22
12215,S,Other Services,128021609,Woronora Heights,0,3,5,0,0,0,9
12216,S,Other Services,199999499,Currently Unknown,32,74,58,11,0,14,190

In [11]:
# Creating a copy of the data from businesses dataset
businesses1 = businesses.copy()

# Checking missing values
print('Missing values distribution: ')
print(businesses1.isnull().mean())
print("")
# No missing values.

Missing values distribution:
industry_code             0.0
industry_name             0.0
sa2_code                  0.0
sa2_name                  0.0
0_to_50k_businesses       0.0
50k_to_200k_businesses    0.0
200k_to_2m_businesses     0.0
2m_to_5m_businesses       0.0
5m_to_10m_businesses      0.0
10m_or_more_businesses    0.0
total_businesses          0.0
dtype: float64

In [12]:
# Checking datatype in each column
print('Column datatypes: ')
businesses1.dtypes

Column datatypes:

industry_code             object
industry_name             object
sa2_code                   int64
sa2_name                  object
0_to_50k_businesses        int64
50k_to_200k_businesses     int64
200k_to_2m_businesses      int64
2m_to_5m_businesses        int64
5m_to_10m_businesses       int64
10m_or_more_businesses     int64
total_businesses           int64
dtype: object

In [13]:
# Converting sa2_code data tyoe to string
businesses1['sa2_code'] = businesses1['sa2_code'].astype('object')

Looking at business dataset:
There is no missing values.
The columns, industry_name and sa2_name, have "-" and "," in their values.
The columns, industry_name and sa2_name, have misunderstanding values, such as other services and currently unknown.

In [14]:
income = pd.read_csv('Income.csv')
income

,sa2_code21,sa2_name,earners,median_age,median_income,mean_income
0,101021007,Braidwood,2467,51,46640,68904
1,101021008,Karabar,5103,42,65564,69672
2,101021009,Queanbeyan,7028,39,63528,69174
3,101021010,Queanbeyan - East,3398,39,66148,74162
4,101021012,Queanbeyan West - Jerrabomberra,8422,44,78630,91981
...,...,...,...,...,...,...
637,128021537,Royal National Park,14,37,36980,47584
638,128021538,Sutherland - Kirrawee,13895,41,64940,74867
639,128021607,Engadine,10239,43,63695,72995
640,128021608,Loftus - Yarrawarrah,4424,45,63087,76440
641,128021609,Woronora Heights,2491,47,65460,82717

In [15]:
# Creating a copy of the data from df dataset
income1 = income.copy()

# Checking missing values
print('Missing values distribution: ')
print(income1.isnull().mean())
print("")
# No missing values.

Missing values distribution:
sa2_code21       0.0
sa2_name         0.0
earners          0.0
median_age       0.0
median_income    0.0
mean_income      0.0
dtype: float64

In [16]:
# Checking datatype in each column
print('Column datatypes: ')
income1.dtypes

Column datatypes:

sa2_code21        int64
sa2_name         object
earners          object
median_age       object
median_income    object
mean_income      object
dtype: object

In [17]:
# Converting datatypes in earners, median_age, median_income, mean_income columns.
income1['earners'] = pd.to_numeric(income1['earners'], errors = 'coerce')
income1['median_age'] = pd.to_numeric(income1['median_age'], errors = 'coerce')
income1['median_income'] = pd.to_numeric(income1['median_income'], errors = 'coerce')
income1['mean_income'] = pd.to_numeric(income1['mean_income'], errors = 'coerce')

# Converting sa2_code21 data tyoe to string
income1['sa2_code21'] = income1['sa2_code21'].astype('object')

# Handling NaN values in these columns.
income1['earners'] = income1['earners'].fillna(0).astype(int)
income1['median_age'] = income1['median_age'].fillna(0).astype(int)
income1['median_income'] = income1['median_income'].fillna(0).astype(int)
income1['mean_income'] = income1['mean_income'].fillna(0).astype(int)

income1.dtypes

# There are missing values named 'np' in these columns. In the above step, all 'np' values are changed to '0'.

sa2_code21       object
sa2_name         object
earners           int64
median_age        int64
median_income     int64
mean_income       int64
dtype: object

In [18]:
polling_places = pd.read_csv('PollingPlaces2019.csv')
polling_places

,FID,state,division_id,division_name,polling_place_id,polling_place_type_id,polling_place_name,premises_name,premises_address_1,premises_address_2,premises_address_3,premises_suburb,premises_state_abbreviation,premises_post_code,latitude,longitude,the_geom
0,aec_federal_election_polling_places_2019.fid-4...,NSW,104,Barton,33595,2,Special Hospital Team 1,Multiple sites,NaN,NaN,NaN,NaN,NSW,NaN,NaN,NaN,NaN
1,aec_federal_election_polling_places_2019.fid-4...,NSW,105,Bennelong,33596,2,Special Hospital Team 1,Multiple sites,NaN,NaN,NaN,NaN,NSW,NaN,NaN,NaN,NaN
2,aec_federal_election_polling_places_2019.fid-4...,NSW,107,Blaxland,33600,2,Special Hospital Team 1,Multiple sites,NaN,NaN,NaN,NaN,NSW,NaN,NaN,NaN,NaN
3,aec_federal_election_polling_places_2019.fid-4...,NSW,109,Calare,33603,2,Special Hospital Team 1,Multiple sites,NaN,NaN,NaN,ORANGE,NSW,2800.0,NaN,NaN,NaN
4,aec_federal_election_polling_places_2019.fid-4...,NSW,113,Cowper,33716,2,Special Hospital Team 2,Multiple sites,NaN,NaN,NaN,NaN,NSW,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,aec_federal_election_polling_places_2019.fid-4...,NSW,150,Whitlam,2809,1,Warilla South,Warilla High School,10 Keross Ave,NaN,NaN,BARRACK HEIGHTS,NSW,2528.0,-34.564200,150.858000,POINT (-34.5642 150.858)
2926,aec_federal_election_polling_places_2019.fid-4...,NSW,150,Whitlam,58798,5,Warilla WHITLAM PPVC,2/144 Shellharbour Rd,NaN,NaN,NaN,WARILLA,NSW,2528.0,-34.550823,150.859755,POINT (-34.5508228 150.8597546)
2927,aec_federal_election_polling_places_2019.fid-4...,NSW,150,Whitlam,31242,1,Welby,Welby Community Hall,14 Currockbilly St,NaN,NaN,WELBY,NSW,2575.0,-34.440900,150.424000,POINT (-34.4409 150.424)
2928,aec_federal_election_polling_places_2019.fid-4...,NSW,150,Whitlam,564,1,Windang,Windang Public School,60-64 Oakland Ave,NaN,NaN,WINDANG,NSW,2528.0,-34.531600,150.866000,POINT (-34.5316 150.866)
2929,aec_federal_election_polling_places_2019.fid-4...,NSW,150,Whitlam,58667,5,Wollongong WHITLAM PPVC,3/51 Crown St,NaN,NaN,NaN,WOLLONGONG,NSW,2500.0,NaN,NaN,NaN

In [19]:
# Creating a copy of the data from df dataset and taking a subset
polling_places1= polling_places.copy()

# Checking missing values
print('Missing values distribution: ')
print(polling_places1.isnull().mean())
print("")
# There are many missing values in premises_address_2 and premises_address_3 columns.

Missing values distribution:
FID                            0.000000
state                          0.000000
division_id                    0.000000
division_name                  0.000000
polling_place_id               0.000000
polling_place_type_id          0.000000
polling_place_name             0.000000
premises_name                  0.000000
premises_address_1             0.065870
premises_address_2             0.961092
premises_address_3             0.988055
premises_suburb                0.039249
premises_state_abbreviation    0.000000
premises_post_code             0.037201
latitude                       0.047782
longitude                      0.047782
the_geom                       0.047782
dtype: float64

In [20]:
# Deleting columns because they have too many missing values or will not be used.
polling_places1 = polling_places1.drop(['premises_address_1', 'premises_address_2', 'premises_address_3', 'premises_post_code'], axis = 1)

# Droping all missing values for premises_suburb, latitude, longitude, and the_geom. 
polling_places1.dropna(subset=['premises_suburb', 'latitude', 'longitude', 'the_geom'], inplace=True)
polling_places1

,FID,state,division_id,division_name,polling_place_id,polling_place_type_id,polling_place_name,premises_name,premises_suburb,premises_state_abbreviation,latitude,longitude,the_geom
13,aec_federal_election_polling_places_2019.fid-4...,NSW,103,Banks,58,1,Oatley,Oatley Public School,OATLEY,NSW,-33.984700,151.081000,POINT (-33.9847 151.081)
15,aec_federal_election_polling_places_2019.fid-4...,NSW,111,Chifley,392,1,Dharruk,Dawson Public School,DHARRUK,NSW,-33.747500,150.817000,POINT (-33.7475 150.817)
16,aec_federal_election_polling_places_2019.fid-4...,NSW,103,Banks,31,1,Allawah,PJ Ferry Reserve Community Hall,ALLAWAH,NSW,-33.976790,151.114897,POINT (-33.9767897 151.1148974)
17,aec_federal_election_polling_places_2019.fid-4...,NSW,103,Banks,67,1,Allawah South,St Raphael's Church Hall,SOUTH HURSTVILLE,NSW,-33.975600,151.111000,POINT (-33.9756 151.111)
18,aec_federal_election_polling_places_2019.fid-4...,NSW,103,Banks,56500,1,Beverly Hills North (Banks),Beverly Hills North Public School,BEVERLY HILLS,NSW,-33.941300,151.075000,POINT (-33.9413 151.075)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2924,aec_federal_election_polling_places_2019.fid-4...,NSW,150,Whitlam,2810,1,Warilla North,Warilla North Community Centre,WARILLA,NSW,-34.547240,150.851770,POINT (-34.54724 150.85177)
2925,aec_federal_election_polling_places_2019.fid-4...,NSW,150,Whitlam,2809,1,Warilla South,Warilla High School,BARRACK HEIGHTS,NSW,-34.564200,150.858000,POINT (-34.5642 150.858)
2926,aec_federal_election_polling_places_2019.fid-4...,NSW,150,Whitlam,58798,5,Warilla WHITLAM PPVC,2/144 Shellharbour Rd,WARILLA,NSW,-34.550823,150.859755,POINT (-34.5508228 150.8597546)
2927,aec_federal_election_polling_places_2019.fid-4...,NSW,150,Whitlam,31242,1,Welby,Welby Community Hall,WELBY,NSW,-34.440900,150.424000,POINT (-34.4409 150.424)
2928,aec_federal_election_polling_places_2019.fid-4...,NSW,150,Whitlam,564,1,Windang,Windang Public School,WINDANG,NSW,-34.531600,150.866000,POINT (-34.5316 150.866)

In [21]:
# Checking datatype in each column
print('Column datatypes: ')
polling_places1.dtypes

Column datatypes:

FID                             object
state                           object
division_id                      int64
division_name                   object
polling_place_id                 int64
polling_place_type_id            int64
polling_place_name              object
premises_name                   object
premises_suburb                 object
premises_state_abbreviation     object
latitude                       float64
longitude                      float64
the_geom                        object
dtype: object

In [22]:
# Converting data types to string
polling_places1['division_id'] = polling_places1['division_id'].astype('object')
polling_places1['polling_place_id'] = polling_places1['polling_place_id'].astype('object')
polling_places1['polling_place_type_id'] = polling_places1['polling_place_type_id'].astype('object')

FID                              object
state                            object
division_id                      object
division_name                    object
polling_place_id                 object
polling_place_type_id            object
polling_place_name               object
premises_name                    object
premises_suburb                  object
premises_state_abbreviation      object
latitude                        float64
longitude                       float64
the_geom                       geometry
dtype: object

In [23]:
population = pd.read_csv('Population.csv')
population

,sa2_code,sa2_name,0-4_people,5-9_people,10-14_people,15-19_people,20-24_people,25-29_people,30-34_people,35-39_people,...,45-49_people,50-54_people,55-59_people,60-64_people,65-69_people,70-74_people,75-79_people,80-84_people,85-and-over_people,total_people
0,102011028,Avoca Beach - Copacabana,424,522,623,552,386,222,306,416,...,572,602,570,520,464,369,226,142,70,7530
1,102011029,Box Head - MacMasters Beach,511,666,702,592,461,347,420,535,...,749,749,794,895,863,925,603,331,264,11052
2,102011030,Calga - Kulnura,200,225,258,278,274,227,214,286,...,325,436,422,397,327,264,190,100,75,4748
3,102011031,Erina - Green Point,683,804,880,838,661,502,587,757,...,859,882,901,930,917,1065,976,773,1028,14803
4,102011032,Gosford - Springfield,1164,1044,1084,1072,1499,1864,1750,1520,...,1330,1241,1377,1285,1166,949,664,476,537,21346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,128021537,Royal National Park,2,4,10,4,9,7,1,2,...,4,0,0,0,1,0,0,0,0,45
369,128021538,Sutherland - Kirrawee,1519,1292,1150,1117,1335,1852,2120,1945,...,1569,1391,1285,1157,909,909,781,582,807,23369
370,128021607,Engadine,1157,1283,1469,1209,891,675,928,1229,...,1315,1086,909,764,707,886,748,389,327,17379
371,128021608,Loftus - Yarrawarrah,503,487,575,508,380,293,426,493,...,564,477,450,387,418,335,263,192,109,7354
372,128021609,Woronora Heights,166,217,272,310,240,153,123,161,...,303,316,295,310,217,143,80,30,16,3551

In [24]:
# Creating a copy of the data from df dataset
population1 = population.copy()

# Checking missing values
print('Missing values distribution: ')
print(population1.isnull().mean())
print("")
# No missing values.

Missing values distribution:
sa2_code              0.0
sa2_name              0.0
0-4_people            0.0
5-9_people            0.0
10-14_people          0.0
15-19_people          0.0
20-24_people          0.0
25-29_people          0.0
30-34_people          0.0
35-39_people          0.0
40-44_people          0.0
45-49_people          0.0
50-54_people          0.0
55-59_people          0.0
60-64_people          0.0
65-69_people          0.0
70-74_people          0.0
75-79_people          0.0
80-84_people          0.0
85-and-over_people    0.0
total_people          0.0
dtype: float64

In [25]:
# Checking datatype in each column
print('Column datatypes: ')
population1.dtypes

Column datatypes:

sa2_code               int64
sa2_name              object
0-4_people             int64
5-9_people             int64
10-14_people           int64
15-19_people           int64
20-24_people           int64
25-29_people           int64
30-34_people           int64
35-39_people           int64
40-44_people           int64
45-49_people           int64
50-54_people           int64
55-59_people           int64
60-64_people           int64
65-69_people           int64
70-74_people           int64
75-79_people           int64
80-84_people           int64
85-and-over_people     int64
total_people           int64
dtype: object

In [26]:
# Converting data types to string
population1['sa2_code'] = population1['sa2_code'].astype('object')
population1.dtypes

sa2_code              object
sa2_name              object
0-4_people             int64
5-9_people             int64
10-14_people           int64
15-19_people           int64
20-24_people           int64
25-29_people           int64
30-34_people           int64
35-39_people           int64
40-44_people           int64
45-49_people           int64
50-54_people           int64
55-59_people           int64
60-64_people           int64
65-69_people           int64
70-74_people           int64
75-79_people           int64
80-84_people           int64
85-and-over_people     int64
total_people           int64
dtype: object

In [27]:
dc = gpd.read_file('catchments/catchments_future.shp')
dc

,USE_ID,CATCH_TYPE,USE_DESC,ADD_DATE,KINDERGART,YEAR1,YEAR2,YEAR3,YEAR4,YEAR5,YEAR6,YEAR7,YEAR8,YEAR9,YEAR10,YEAR11,YEAR12,geometry
0,8416,HIGH_COED,Ku-ring-gai HS,20230114,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.19849 -33.53990, 151.19945 -33.5..."
1,8161,HIGH_BOYS,Randwick BHS,20200220,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.27152 -33.91402, 151.27152 -33.9..."
2,8539,HIGH_COED,SSC Blackwattle Bay,20220609,0,0,0,0,0,0,0,0,0,0,0,2024,2024,"POLYGON ((151.15292 -33.83939, 151.16144 -33.8..."
3,8400,HIGH_COED,St Ives HS,20230114,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.17794 -33.69820, 151.17859 -33.6..."
4,8555,HIGH_COED,Rose Bay SC,20200220,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.28072 -33.83287, 151.28095 -33.8..."
5,8556,CENTRAL_HIGH,Alexandria Park CS,20200220,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.19497 -33.88876, 151.19524 -33.8..."
6,8913,HIGH_COED,Inner Sydney HS,20200220,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2025,"POLYGON ((151.20982 -33.85423, 151.21071 -33.8..."
7,8286,HIGH_COED,Mt Annan HS,20220301,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((150.77298 -34.02516, 150.77487 -34.0..."
8,8584,HIGH_COED,Elizabeth Macarthur HS,20220301,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((150.73235 -34.01466, 150.73326 -34.0..."
9,8290,HIGH_COED,John Edmondson HS,20190520,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"MULTIPOLYGON (((150.70497 -33.90426, 150.71625..."
10,8916,HIGH_COED,Oran Park HS,20190520,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((150.75452 -33.95472, 150.75653 -33.9..."
11,8575,HIGH_COED,Robert Townson HS,20190520,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((150.82116 -33.97644, 150.82231 -33.9..."
12,8569,HIGH_COED,Eagle Vale HS,20190520,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((150.80290 -34.01178, 150.80389 -34.0..."
13,8435,HIGH_COED,Turramurra HS,20230114,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.08073 -33.69989, 151.08524 -33.7..."
14,8220,HIGH_GIRLS,Randwick GHS,20200220,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.27152 -33.91402, 151.27152 -33.9..."
15,8922,HIGH_COED,Jerrabomberra HS,20220615,0,0,0,0,0,0,0,2024,2024,2024,2025,2026,2027,"POLYGON ((149.20600 -35.37104, 149.20764 -35.3..."
16,8524,HIGH_COED,Karabar HS,20220615,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((149.23538 -35.36390, 149.23582 -35.3..."
17,8919,HIGH_COED,Bungendore HS,20220615,0,0,0,0,0,0,0,2024,2024,2024,2025,2026,2027,"POLYGON ((149.24085 -34.91439, 149.24367 -34.9..."
18,2899,PRIMARY,Port Macquarie PS,20230208,2024,2024,2024,2024,2024,2024,2024,0,0,0,0,0,0,"POLYGON ((152.93255 -31.36950, 152.93160 -31.3..."
19,4411,PRIMARY,Westport PS,20230208,2024,2024,2024,2024,2024,2024,2024,0,0,0,0,0,0,"POLYGON ((152.89098 -31.44928, 152.89047 -31.4..."
20,8116,HIGH_COED,Goulburn HS,20220615,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((149.43566 -34.64359, 149.43526 -34.6..."
21,4400,PRIMARY,St Ives Park PS,20230112,2024,2024,2024,2024,2024,2024,2024,0,0,0,0,0,0,"POLYGON ((151.17456 -33.70893, 151.17591 -33.7..."
22,8216,HIGH_COED,Queanbeyan HS,20220305,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((149.25674 -35.33186, 149.25847 -35.3..."
23,4331,PRIMARY,St Ives PS,20230112,2024,2024,2024,2024,2024,2024,2024,0,0,0,0,0,0,"POLYGON ((151.16884 -33.72761, 151.16856 -33.7..."
24,4524,PRIMARY,Hastings PS,20230208,2024,2024,2024,2024,2024,2024,2024,0,0,0,0,0,0,"POLYGON ((152.93290 -31.44888, 152.93265 -31.4..."
25,8554,HIGH_COED,HSC Westport,20230208,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((152.37682 -30.98231, 152.37392 -30.9..."
26,8364,HIGH_COED,HSC Port Macquarie,20230208,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((152.92688 -31.44051, 152.92760 -31.4..."
27,8395,HIGH_COED,Pendle Hill HS,20230112,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((150.96083 -33.77940, 150.96101 -33.7..."
28,8892,HIGH_COED,Arthur Phillip HS,20230112,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.01965 -33.80866, 151.02307 -33.8..."
29,8135,HIGH_COED,Parramatta HS,20230112,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((150.99377 -33.81490, 150.99460 -33.8..."

In [28]:
# Creating a copy of the data from df dataset
dc1 = dc.copy()

# Checking missing values
print('Missing values distribution: ')
print(dc1.isnull().mean())
print("")
# No missing values

Missing values distribution:
USE_ID        0.0
CATCH_TYPE    0.0
USE_DESC      0.0
ADD_DATE      0.0
KINDERGART    0.0
YEAR1         0.0
YEAR2         0.0
YEAR3         0.0
YEAR4         0.0
YEAR5         0.0
YEAR6         0.0
YEAR7         0.0
YEAR8         0.0
YEAR9         0.0
YEAR10        0.0
YEAR11        0.0
YEAR12        0.0
geometry      0.0
dtype: float64

In [29]:
# Checking datatype in each column
print('Column datatypes: ')
dc1.dtypes

Column datatypes:

USE_ID          object
CATCH_TYPE      object
USE_DESC        object
ADD_DATE        object
KINDERGART       int64
YEAR1            int64
YEAR2            int64
YEAR3            int64
YEAR4            int64
YEAR5            int64
YEAR6            int64
YEAR7            int64
YEAR8            int64
YEAR9            int64
YEAR10           int64
YEAR11           int64
YEAR12           int64
geometry      geometry
dtype: object

In [30]:
# Deleting unused columns
dc1 = dc1.drop(['ADD_DATE'], axis = 1)
dc1

,USE_ID,CATCH_TYPE,USE_DESC,KINDERGART,YEAR1,YEAR2,YEAR3,YEAR4,YEAR5,YEAR6,YEAR7,YEAR8,YEAR9,YEAR10,YEAR11,YEAR12,geometry
0,8416,HIGH_COED,Ku-ring-gai HS,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.19849 -33.53990, 151.19945 -33.5..."
1,8161,HIGH_BOYS,Randwick BHS,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.27152 -33.91402, 151.27152 -33.9..."
2,8539,HIGH_COED,SSC Blackwattle Bay,0,0,0,0,0,0,0,0,0,0,0,2024,2024,"POLYGON ((151.15292 -33.83939, 151.16144 -33.8..."
3,8400,HIGH_COED,St Ives HS,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.17794 -33.69820, 151.17859 -33.6..."
4,8555,HIGH_COED,Rose Bay SC,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.28072 -33.83287, 151.28095 -33.8..."
5,8556,CENTRAL_HIGH,Alexandria Park CS,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.19497 -33.88876, 151.19524 -33.8..."
6,8913,HIGH_COED,Inner Sydney HS,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2025,"POLYGON ((151.20982 -33.85423, 151.21071 -33.8..."
7,8286,HIGH_COED,Mt Annan HS,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((150.77298 -34.02516, 150.77487 -34.0..."
8,8584,HIGH_COED,Elizabeth Macarthur HS,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((150.73235 -34.01466, 150.73326 -34.0..."
9,8290,HIGH_COED,John Edmondson HS,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"MULTIPOLYGON (((150.70497 -33.90426, 150.71625..."
10,8916,HIGH_COED,Oran Park HS,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((150.75452 -33.95472, 150.75653 -33.9..."
11,8575,HIGH_COED,Robert Townson HS,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((150.82116 -33.97644, 150.82231 -33.9..."
12,8569,HIGH_COED,Eagle Vale HS,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((150.80290 -34.01178, 150.80389 -34.0..."
13,8435,HIGH_COED,Turramurra HS,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.08073 -33.69989, 151.08524 -33.7..."
14,8220,HIGH_GIRLS,Randwick GHS,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.27152 -33.91402, 151.27152 -33.9..."
15,8922,HIGH_COED,Jerrabomberra HS,0,0,0,0,0,0,0,2024,2024,2024,2025,2026,2027,"POLYGON ((149.20600 -35.37104, 149.20764 -35.3..."
16,8524,HIGH_COED,Karabar HS,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((149.23538 -35.36390, 149.23582 -35.3..."
17,8919,HIGH_COED,Bungendore HS,0,0,0,0,0,0,0,2024,2024,2024,2025,2026,2027,"POLYGON ((149.24085 -34.91439, 149.24367 -34.9..."
18,2899,PRIMARY,Port Macquarie PS,2024,2024,2024,2024,2024,2024,2024,0,0,0,0,0,0,"POLYGON ((152.93255 -31.36950, 152.93160 -31.3..."
19,4411,PRIMARY,Westport PS,2024,2024,2024,2024,2024,2024,2024,0,0,0,0,0,0,"POLYGON ((152.89098 -31.44928, 152.89047 -31.4..."
20,8116,HIGH_COED,Goulburn HS,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((149.43566 -34.64359, 149.43526 -34.6..."
21,4400,PRIMARY,St Ives Park PS,2024,2024,2024,2024,2024,2024,2024,0,0,0,0,0,0,"POLYGON ((151.17456 -33.70893, 151.17591 -33.7..."
22,8216,HIGH_COED,Queanbeyan HS,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((149.25674 -35.33186, 149.25847 -35.3..."
23,4331,PRIMARY,St Ives PS,2024,2024,2024,2024,2024,2024,2024,0,0,0,0,0,0,"POLYGON ((151.16884 -33.72761, 151.16856 -33.7..."
24,4524,PRIMARY,Hastings PS,2024,2024,2024,2024,2024,2024,2024,0,0,0,0,0,0,"POLYGON ((152.93290 -31.44888, 152.93265 -31.4..."
25,8554,HIGH_COED,HSC Westport,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((152.37682 -30.98231, 152.37392 -30.9..."
26,8364,HIGH_COED,HSC Port Macquarie,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((152.92688 -31.44051, 152.92760 -31.4..."
27,8395,HIGH_COED,Pendle Hill HS,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((150.96083 -33.77940, 150.96101 -33.7..."
28,8892,HIGH_COED,Arthur Phillip HS,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.01965 -33.80866, 151.02307 -33.8..."
29,8135,HIGH_COED,Parramatta HS,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((150.99377 -33.81490, 150.99460 -33.8..."

In [31]:
# Converting data types to string
cols_excluded = ['USE_ID', 'CATCH_TYPE', 'USE_DESC', 'geometry']
cols = dc1.columns
for i in cols:
    if i not in cols_excluded:
        dc1[i] = dc1[i].astype('object')
dc1.dtypes

USE_ID          object
CATCH_TYPE      object
USE_DESC        object
KINDERGART      object
YEAR1           object
YEAR2           object
YEAR3           object
YEAR4           object
YEAR5           object
YEAR6           object
YEAR7           object
YEAR8           object
YEAR9           object
YEAR10          object
YEAR11          object
YEAR12          object
geometry      geometry
dtype: object

In [32]:
dp = gpd.read_file('catchments/catchments_primary.shp')
dp

,USE_ID,CATCH_TYPE,USE_DESC,ADD_DATE,KINDERGART,YEAR1,YEAR2,YEAR3,YEAR4,YEAR5,YEAR6,YEAR7,YEAR8,YEAR9,YEAR10,YEAR11,YEAR12,PRIORITY,geometry
0,2838,PRIMARY,Parklea PS,20181210,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,None,"POLYGON ((150.93564 -33.71612, 150.93715 -33.7..."
1,2404,PRIMARY,Lindfield EPS,20211219,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,None,"POLYGON ((151.18336 -33.74748, 151.18443 -33.7..."
2,4393,PRIMARY,Carlingford WPS,20220223,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,None,"POLYGON ((151.04518 -33.77303, 151.04526 -33.7..."
3,4615,PRIMARY,Caddies Ck PS,20181210,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,None,"POLYGON ((150.92567 -33.72960, 150.92602 -33.7..."
4,3918,PRIMARY,Killara PS,20211219,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,None,"POLYGON ((151.15379 -33.75586, 151.15404 -33.7..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1657,4383,PRIMARY,E A Southee PS,20200315,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,None,"POLYGON ((147.94621 -34.55863, 147.95292 -34.5..."
1658,3275,PRIMARY,Tumbarumba PS,20200507,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,None,"POLYGON ((148.12885 -35.60082, 148.23155 -35.6..."
1659,2239,PRIMARY,Jindera PS,20200507,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,None,"POLYGON ((146.86148 -35.87511, 146.87402 -35.8..."
1660,3594,PRIMARY,Louth PS,20200604,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,None,"POLYGON ((145.18403 -29.65805, 145.18434 -29.6..."
1661,2155,PRIMARY,Hermidale PS,20200604,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,None,"POLYGON ((146.46001 -31.31688, 146.47453 -31.3..."

In [33]:
# Creating a copy of the data from df dataset
dp1 = dp.copy()

# Checking missing values
print('Missing values distribution: ')
print(dp1.isnull().mean())
print("")
# No missing values

Missing values distribution:
USE_ID        0.000000
CATCH_TYPE    0.000000
USE_DESC      0.000000
ADD_DATE      0.196751
KINDERGART    0.000000
YEAR1         0.000000
YEAR2         0.000000
YEAR3         0.000000
YEAR4         0.000000
YEAR5         0.000000
YEAR6         0.000000
YEAR7         0.000000
YEAR8         0.000000
YEAR9         0.000000
YEAR10        0.000000
YEAR11        0.000000
YEAR12        0.000000
PRIORITY      0.997593
geometry      0.000000
dtype: float64

In [34]:
# Deleting unused columns
dp1 = dp1.drop(['PRIORITY', 'ADD_DATE'], axis = 1)
dp1

,USE_ID,CATCH_TYPE,USE_DESC,KINDERGART,YEAR1,YEAR2,YEAR3,YEAR4,YEAR5,YEAR6,YEAR7,YEAR8,YEAR9,YEAR10,YEAR11,YEAR12,geometry
0,2838,PRIMARY,Parklea PS,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,"POLYGON ((150.93564 -33.71612, 150.93715 -33.7..."
1,2404,PRIMARY,Lindfield EPS,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,"POLYGON ((151.18336 -33.74748, 151.18443 -33.7..."
2,4393,PRIMARY,Carlingford WPS,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,"POLYGON ((151.04518 -33.77303, 151.04526 -33.7..."
3,4615,PRIMARY,Caddies Ck PS,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,"POLYGON ((150.92567 -33.72960, 150.92602 -33.7..."
4,3918,PRIMARY,Killara PS,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,"POLYGON ((151.15379 -33.75586, 151.15404 -33.7..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1657,4383,PRIMARY,E A Southee PS,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,"POLYGON ((147.94621 -34.55863, 147.95292 -34.5..."
1658,3275,PRIMARY,Tumbarumba PS,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,"POLYGON ((148.12885 -35.60082, 148.23155 -35.6..."
1659,2239,PRIMARY,Jindera PS,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,"POLYGON ((146.86148 -35.87511, 146.87402 -35.8..."
1660,3594,PRIMARY,Louth PS,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,"POLYGON ((145.18403 -29.65805, 145.18434 -29.6..."
1661,2155,PRIMARY,Hermidale PS,Y,Y,Y,Y,Y,Y,Y,N,N,N,N,N,N,"POLYGON ((146.46001 -31.31688, 146.47453 -31.3..."

In [35]:
# Checking datatype in each column
print('Column datatypes: ')
dp1.dtypes

Column datatypes:

USE_ID          object
CATCH_TYPE      object
USE_DESC        object
KINDERGART      object
YEAR1           object
YEAR2           object
YEAR3           object
YEAR4           object
YEAR5           object
YEAR6           object
YEAR7           object
YEAR8           object
YEAR9           object
YEAR10          object
YEAR11          object
YEAR12          object
geometry      geometry
dtype: object

In [36]:
ds = gpd.read_file('catchments/catchments_secondary.shp')
ds

,USE_ID,CATCH_TYPE,USE_DESC,ADD_DATE,KINDERGART,YEAR1,YEAR2,YEAR3,YEAR4,YEAR5,YEAR6,YEAR7,YEAR8,YEAR9,YEAR10,YEAR11,YEAR12,PRIORITY,geometry
0,8503,HIGH_COED,Billabong HS,20200507,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,None,"POLYGON ((146.67182 -35.31444, 146.68930 -35.3..."
1,8266,HIGH_COED,James Fallon HS,20200507,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,None,"POLYGON ((147.08734 -35.86271, 147.10413 -35.8..."
2,8505,HIGH_COED,Murray HS,20200507,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,None,"POLYGON ((146.81448 -35.78341, 146.81250 -35.7..."
3,8458,HIGH_COED,Kingswood HS,20201016,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,None,"MULTIPOLYGON (((150.68600 -33.74031, 150.68631..."
4,8559,HIGH_COED,Jamison HS,20201016,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,None,"POLYGON ((150.69513 -33.75627, 150.68936 -33.7..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,8213,HIGH_BOYS,Birrong BHS,20211221,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,None,"POLYGON ((151.05364 -33.85076, 151.06142 -33.8..."
432,8108,HIGH_COED,Cessnock HS,20230405,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,None,"POLYGON ((151.42852 -32.74415, 151.43080 -32.7..."
433,3235,CENTRAL_HIGH,Tooleybuc CS,20200512,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,None,"POLYGON ((143.37723 -34.80173, 143.39037 -34.8..."
434,1115,CENTRAL_HIGH,Balranald CS,20200512,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,None,"POLYGON ((143.65541 -33.55702, 143.65541 -33.5..."
435,2213,CENTRAL_HIGH,Ivanhoe CS,20200512,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,None,"POLYGON ((144.31579 -32.17239, 144.32923 -32.1..."

In [37]:
# Creating a copy of the data from df dataset
ds1 = ds.copy()

# Checking missing values
print('Missing values distribution: ')
print(ds1.isnull().mean())
print("")
# No missing values.

Missing values distribution:
USE_ID        0.000000
CATCH_TYPE    0.000000
USE_DESC      0.000000
ADD_DATE      0.146789
KINDERGART    0.000000
YEAR1         0.000000
YEAR2         0.000000
YEAR3         0.000000
YEAR4         0.000000
YEAR5         0.000000
YEAR6         0.000000
YEAR7         0.000000
YEAR8         0.000000
YEAR9         0.000000
YEAR10        0.000000
YEAR11        0.000000
YEAR12        0.000000
PRIORITY      0.983945
geometry      0.000000
dtype: float64

In [38]:
# Deleting unused column
ds1 = ds1.drop(['PRIORITY', 'ADD_DATE'], axis = 1)
ds1

,USE_ID,CATCH_TYPE,USE_DESC,KINDERGART,YEAR1,YEAR2,YEAR3,YEAR4,YEAR5,YEAR6,YEAR7,YEAR8,YEAR9,YEAR10,YEAR11,YEAR12,geometry
0,8503,HIGH_COED,Billabong HS,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,"POLYGON ((146.67182 -35.31444, 146.68930 -35.3..."
1,8266,HIGH_COED,James Fallon HS,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,"POLYGON ((147.08734 -35.86271, 147.10413 -35.8..."
2,8505,HIGH_COED,Murray HS,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,"POLYGON ((146.81448 -35.78341, 146.81250 -35.7..."
3,8458,HIGH_COED,Kingswood HS,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,"MULTIPOLYGON (((150.68600 -33.74031, 150.68631..."
4,8559,HIGH_COED,Jamison HS,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,"POLYGON ((150.69513 -33.75627, 150.68936 -33.7..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,8213,HIGH_BOYS,Birrong BHS,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,"POLYGON ((151.05364 -33.85076, 151.06142 -33.8..."
432,8108,HIGH_COED,Cessnock HS,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,"POLYGON ((151.42852 -32.74415, 151.43080 -32.7..."
433,3235,CENTRAL_HIGH,Tooleybuc CS,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,"POLYGON ((143.37723 -34.80173, 143.39037 -34.8..."
434,1115,CENTRAL_HIGH,Balranald CS,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,"POLYGON ((143.65541 -33.55702, 143.65541 -33.5..."
435,2213,CENTRAL_HIGH,Ivanhoe CS,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,"POLYGON ((144.31579 -32.17239, 144.32923 -32.1..."

In [39]:
# Checking datatype in each column
print('Column datatypes: ')
ds1.dtypes

Column datatypes:

USE_ID          object
CATCH_TYPE      object
USE_DESC        object
KINDERGART      object
YEAR1           object
YEAR2           object
YEAR3           object
YEAR4           object
YEAR5           object
YEAR6           object
YEAR7           object
YEAR8           object
YEAR9           object
YEAR10          object
YEAR11          object
YEAR12          object
geometry      geometry
dtype: object

In [40]:
# combing dc, dp, ds datasets together
combined_school = pd.concat([dc1, dp1, ds1])
combined_school

,USE_ID,CATCH_TYPE,USE_DESC,KINDERGART,YEAR1,YEAR2,YEAR3,YEAR4,YEAR5,YEAR6,YEAR7,YEAR8,YEAR9,YEAR10,YEAR11,YEAR12,geometry
0,8416,HIGH_COED,Ku-ring-gai HS,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.19849 -33.53990, 151.19945 -33.5..."
1,8161,HIGH_BOYS,Randwick BHS,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.27152 -33.91402, 151.27152 -33.9..."
2,8539,HIGH_COED,SSC Blackwattle Bay,0,0,0,0,0,0,0,0,0,0,0,2024,2024,"POLYGON ((151.15292 -33.83939, 151.16144 -33.8..."
3,8400,HIGH_COED,St Ives HS,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.17794 -33.69820, 151.17859 -33.6..."
4,8555,HIGH_COED,Rose Bay SC,0,0,0,0,0,0,0,2024,2024,2024,2024,2024,2024,"POLYGON ((151.28072 -33.83287, 151.28095 -33.8..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431,8213,HIGH_BOYS,Birrong BHS,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,"POLYGON ((151.05364 -33.85076, 151.06142 -33.8..."
432,8108,HIGH_COED,Cessnock HS,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,"POLYGON ((151.42852 -32.74415, 151.43080 -32.7..."
433,3235,CENTRAL_HIGH,Tooleybuc CS,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,"POLYGON ((143.37723 -34.80173, 143.39037 -34.8..."
434,1115,CENTRAL_HIGH,Balranald CS,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,"POLYGON ((143.65541 -33.55702, 143.65541 -33.5..."
435,2213,CENTRAL_HIGH,Ivanhoe CS,N,N,N,N,N,N,N,Y,Y,Y,Y,Y,Y,"POLYGON ((144.31579 -32.17239, 144.32923 -32.1..."

In [41]:
# Checking datatype in each column
print('Column datatypes: ')
combined_school.dtypes

Column datatypes:

USE_ID          object
CATCH_TYPE      object
USE_DESC        object
KINDERGART      object
YEAR1           object
YEAR2           object
YEAR3           object
YEAR4           object
YEAR5           object
YEAR6           object
YEAR7           object
YEAR8           object
YEAR9           object
YEAR10          object
YEAR11          object
YEAR12          object
geometry      geometry
dtype: object

In [42]:
# Finding all unique values in columns which data types are integar
excluded_variables = ['USE_ID', 'CATCH_TYPE', 'USE_DESC', 'geometry']
all_cols = combined_school.columns
for i in all_cols:
    if i not in excluded_variables:
        unique_values = combined_school[i].unique()
        unique_values = list(set(unique_values))
        print(f"Unique values in {i}: {unique_values}")
# There are many unique values in these columns. The values cannot be standarded because of unknown meanings of these unique values in these columns.
# For example, for the YEAR10 column, there are five unique values and not to form one to one relationship.

Unique values in KINDERGART: [0, 2024, 'Y', 'N']
Unique values in YEAR1: [0, 2024, 'Y', 'N']
Unique values in YEAR2: [0, 2024, 'Y', 'N']
Unique values in YEAR3: [0, 2024, 'Y', 'N']
Unique values in YEAR4: [0, 2024, 'Y', 'N']
Unique values in YEAR5: [0, 2024, 'Y', 'N']
Unique values in YEAR6: [0, 2024, 'Y', 'N']
Unique values in YEAR7: [2024, 0, 'Y', 'N']
Unique values in YEAR8: [2024, 0, 'Y', 'N']
Unique values in YEAR9: [2024, 0, 'Y', 'N']
Unique values in YEAR10: [0, 'Y', 2024, 2025, 'N']
Unique values in YEAR11: [0, 'Y', 2024, 2026, 'N']
Unique values in YEAR12: [0, 'Y', 2024, 2025, 2027, 'N']

In [43]:
stops = pd.read_csv('Stops.txt')
stops

,stop_id,stop_code,stop_name,stop_lat,stop_lon,location_type,parent_station,wheelchair_boarding,platform_code
0,200039,200039.0,"Central Station, Eddy Av, Stand A",-33.882206,151.206665,NaN,200060,0,NaN
1,200054,200054.0,"Central Station, Eddy Av, Stand D",-33.882042,151.206991,NaN,200060,0,NaN
2,200060,NaN,Central Station,-33.884084,151.206292,1.0,NaN,0,NaN
3,201510,NaN,Redfern Station,-33.891690,151.198866,1.0,NaN,0,NaN
4,201646,201646.0,"Redfern Station, Gibbons St, Stand B",-33.893329,151.198882,NaN,201510,0,NaN
...,...,...,...,...,...,...,...,...,...
114713,212753,212753.0,"Sydney Olympic Park Wharf, Side B",-33.822016,151.078797,NaN,21271,1,B
114714,2137185,2137185.0,"Cabarita Wharf, Side A",-33.840669,151.116926,NaN,21371,1,1A
114715,2137186,2137186.0,"Cabarita Wharf, Side B",-33.840769,151.116899,NaN,21371,1,1B
114716,21501,21501.0,Parramatta Wharf,-33.813904,151.010577,NaN,2150112,1,NaN
114717,2150112,NaN,Parramatta Wharf,-33.813952,151.010482,1.0,NaN,1,NaN

In [44]:
# Creating a copy of the data from df dataset
stops1 = stops.copy()

# Checking missing values
print('Missing values distribution: ')
print(stops1.isnull().mean())
print("")

# Deleting unused column. Because location_type, parent_station, and platform_code columns have more than half missing values, they are deleted.  
stops1 = stops1.drop(['stop_code', 'location_type', 'parent_station', 'platform_code'], axis = 1)
stops1

Missing values distribution:
stop_id                0.000000
stop_code              0.470711
stop_name              0.000000
stop_lat               0.000000
stop_lon               0.000000
location_type          0.529359
parent_station         0.470641
wheelchair_boarding    0.000000
platform_code          0.992407
dtype: float64

,stop_id,stop_name,stop_lat,stop_lon,wheelchair_boarding
0,200039,"Central Station, Eddy Av, Stand A",-33.882206,151.206665,0
1,200054,"Central Station, Eddy Av, Stand D",-33.882042,151.206991,0
2,200060,Central Station,-33.884084,151.206292,0
3,201510,Redfern Station,-33.891690,151.198866,0
4,201646,"Redfern Station, Gibbons St, Stand B",-33.893329,151.198882,0
...,...,...,...,...,...
114713,212753,"Sydney Olympic Park Wharf, Side B",-33.822016,151.078797,1
114714,2137185,"Cabarita Wharf, Side A",-33.840669,151.116926,1
114715,2137186,"Cabarita Wharf, Side B",-33.840769,151.116899,1
114716,21501,Parramatta Wharf,-33.813904,151.010577,1
114717,2150112,Parramatta Wharf,-33.813952,151.010482,1

Looking at this dataset:
Values in the stop_name column are with ",".

In [45]:
# Checking datatype in each column
print('Column datatypes: ')
stops1.dtypes

Column datatypes:

stop_id                 object
stop_name               object
stop_lat               float64
stop_lon               float64
wheelchair_boarding      int64
dtype: object

In [46]:
'''
response = input('Proceed (Y/n)?')
if response.lower() == 'y':
    !pip3 uninstall psycopg2
    !pip3 install -- upgrade psycopg2
'''

"\nresponse = input('Proceed (Y/n)?')\nif response.lower() == 'y':\n    !pip3 uninstall psycopg2\n    !pip3 install -- upgrade psycopg2\n"

In [47]:
from sqlalchemy import create_engine, text, inspect
import psycopg2
import psycopg2.extras
import json
import os

ImportError: dlopen(/opt/anaconda3/envs/data2001/lib/python3.11/site-packages/psycopg2/_psycopg.cpython-311-darwin.so, 0x0002): Library not loaded: @rpath/libpq.5.dylib
  Referenced from: <DC609150-668C-3997-AD65-60269B6D6446> /opt/anaconda3/envs/data2001/lib/python3.11/site-packages/psycopg2/_psycopg.cpython-311-darwin.so
  Reason: tried: '/Users/mac/Applications/anaconda3/lib/libpq.5.dylib' (no such file), '/System/Volumes/Preboot/Cryptexes/OS/Users/mac/Applications/anaconda3/lib/libpq.5.dylib' (no such file), '/Users/mac/Applications/anaconda3/lib/libpq.5.dylib' (no such file), '/System/Volumes/Preboot/Cryptexes/OS/Users/mac/Applications/anaconda3/lib/libpq.5.dylib' (no such file), '/opt/anaconda3/envs/data2001/bin/../lib/libpq.5.dylib' (no such file), '/opt/anaconda3/envs/data2001/bin/../lib/libpq.5.dylib' (no such file)

In [ ]:
# Connecting to the database
credentials = "Credentials.json"

def pgconnect(credential_filepath, db_schema="public"):
    with open(credential_filepath) as f:
        db_conn_dict = json.load(f)
        host       = db_conn_dict['host']
        db_user    = db_conn_dict['user']
        db_pw      = db_conn_dict['password']
        default_db = db_conn_dict['user']
        port       = db_conn_dict['port']
        try:
            db = create_engine(f'postgresql+psycopg2://{db_user}:{db_pw}@{host}:{port}/{default_db}', echo=False)
            conn = db.connect()
            print('Connected successfully.')
        except Exception as e:
            print("Unable to connect to the database.")
            print(e)
            db, conn = None, None
        return db,conn

def query(conn, sqlcmd, args=None, df=True):
    result = pd.DataFrame() if df else None
    try:
        if df:
            result = pd.read_sql_query(sqlcmd, conn, params=args)
        else:
            result = conn.execute(text(sqlcmd), args).fetchall()
            result = result[0] if len(result) == 1 else result
    except Exception as e:
        print("Error encountered: ", e, sep='\n')
    return result

# Checking the connection 
db, conn = pgconnect(credentials)

In [ ]:
gpd.__version__

In [ ]:
'''
# Finding all table names from within a given schema
from sqlalchemy import inspect
inspect(db).get_table_names(schema='public')
'''

In [ ]:
'''
# Finding all column names fro within a table
inspect(db).get_columns('spatial_ref_sys', schema='public')
'''

In [ ]:
# Creating the geometry column for stops dataset
stops1['geometry'] = gpd.points_from_xy(stops1.stop_lon, stops1.stop_lat)  
stops1 = stops1.drop(columns=['stop_lat', 'stop_lon'])  # removing the old latitude/longitude fields
stops1

In [ ]:
# Checking query
query(conn, "select PostGIS_Version()")

In [ ]:
# SRID transformations
srid = 4326
def create_wkt_element(geom, srid):
    if geom.geom_type == 'Polygon':
        geom = MultiPolygon([geom])
    return WKTElement(geom.wkt, srid)

wrkDfog = wrkDf.copy()  # creating a copy of the original for later
wrkDf['geom'] = wrkDf['geometry'].apply(lambda x: create_wkt_element(geom=x,srid=srid))  # applying the function
wrkDf = wrkDf.drop(columns="geometry")  # deleting the old copy
wrkDf

In [ ]:
combined_schoolog = combined_school.copy()  # creating a copy of the original for later
combined_school['geom'] = combined_school['geometry'].apply(lambda x: create_wkt_element(geom=x,srid=srid))  # applying the function
combined_school = combined_school.drop(columns="geometry")  # deleting the old copy
combined_school

In [ ]:
stops1og = stops1.copy()  # creating a copy of the original for later
stops1['geom'] = stops1['geometry'].apply(lambda x: create_wkt_element(geom=x,srid=srid))  # applying the function
stops1 = stops1.drop(columns="geometry")  # deleting the old copy
stops1

In [ ]:
polling_places1og = polling_places1.copy()  # creating a copy of the original for later
polling_places1['geom'] = polling_places1['the_geom'].apply(lambda x: create_wkt_element(geom=x,srid=srid))  # applying the function
polling_places1 = polling_places1.drop(columns="the_geom")  # deleting the old copy
polling_places1

In [ ]:
# Defining schema for each tables in the database.
conn.execute("""
DROP TABLE IF EXISTS cities;
CREATE TABLE cities (
    city VARCHAR(100), 
    population INTEGER, 
    capital VARCHAR(10),
    geom GEOMETRY(POINT,4326)
);"""
)

conn.execute("""
DROP TABLE IF EXISTS world;
CREATE TABLE world (
    pop_est NUMERIC, 
    continent VARCHAR(80), 
    name VARCHAR(80), 
    iso_a3 VARCHAR(80), 
    gdp_md_est NUMERIC,
    geom GEOMETRY(MULTIPOLYGON,4326)
);"""
)

In [ ]:
wrkDf.to_sql('cities', conn, if_exists='append', index=False, dtype={'geom': Geometry('POINT', srid)})
query(conn, "select * from cities")

In [ ]:
# In SA2_NAME21 and STE_NAME21, AUS_NAME21 columns, there are unvaluable values, like outside Australia.
# Finding all unquie values in SA2_NAME21 and STE_NAME21, AUS_NAME21 columns.
''''''
column_names = ['SA2_NAME21', 'STE_NAME21', 'AUS_NAME21']
unique_values = []


for col in column_names:
    unique_values.append(wrkDf[col].unique())

print(unique_values)
'''

In [ ]:
# Finding all unique values in SA2_NAME21 column

unique_values = wrkDf['SA2_NAME21'].unique()
unique_values = list(set(unique_values))
unique_values

In [ ]:
# Initial investigation
wrkDf.loc[[600, 2200, 2453], ]